@model Domain.Entities.Reader

@{
    ViewData["Title"] = "Видалити";
}
<body>
<h1>Видалити</h1>

<h3>Ви певні що хочете видалити це?
        Видалення цього об'єкту призведе до видалення усіх пов'язаних із ним об'єктів
    </h3>
<div>
    <h4>Читач</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
</body>