@model Domain.Entities.BorrowedBook

@{
    ViewData["Title"] = "Детально";
}
<body>
<h1>Детально</h1>

<div>
    <h4>Позичені книги</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReaderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
</body>